<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.vincentg.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hemnet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4x21pPqpCO6Se6dRHQgope7AJu7NxC3s" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <android.support.v7.widget.Toolbar
                android:id="@+id/toolbar"
                android:layout_width="match_parent"
                android:layout_height="?attr/actionBarSize"

                android:background="?attr/colorPrimaryDark"
                android:elevation="4dp"
                android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
                app:popupTheme="@style/ThemeOverlay.AppCompat.Light" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowseHouses"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".RegisterUser"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".changeUserDataActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".DetailedBrowseHouse"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity><activity
            android:name=".googlemaps"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>